@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-title: rgb(1, 1, 66);
  --color-border: rgb(5, 5, 53);
  --color-label: rgb(6, 6, 103);
  --color-input: rgb(7, 7, 139);
  --color-btn: white;
  --bc-btn: rgba(4, 4, 74, 0.873);
  --bc-btn-hover: rgba(11, 11, 162, 0.648);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  width: 1280px;
  padding: 30px 32px;
  /* padding-right: 32px; */
  margin-left: auto;
  margin-right: auto;
}

.text-message {
  color: var(--color-input);
  font-size: 20px;
}
